body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, Arial;
    font-weight: 300;
}

#init-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-35deg, #ffffff, #e2dada);
}

#init-info > div {
    margin: 15px 30px;
}

.embed-submit-field {
    position: relative;
    width: 100%;
    margin: auto;
}

.embed-submit-field input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 80px 15px 15px;
    border: 1px solid #ededed;
    border-radius: 8px;
    box-shadow: 0px 0px 30px #0000002b;
    font-family: monospace;
}

.embed-submit-field button {
    position: absolute;
    width: 70px;
    right: 6px;
    top: 6px;
    border: none;
    background: linear-gradient(-35deg, #e2dada, #dbcfcf);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

textarea:focus,
input:focus {
    outline: none;
}

.embed-submit-field button:hover {
    background: #37c88c;
}

#map {
    height: 100%;
}

#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

#save-location {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px #0000004b;
    border-radius: 10px;
    color: #000;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 70px);
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: 140px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    overflow: hidden;
}

#save-location:active {
    font-weight: bold;
}

#save-location:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.pac-card {
    background: transparent;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

.pac-item {
    background: #efefefbb;
    border: none;
}

.pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
    background: transparent;
    box-shadow: none;
    border: none;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    font-family: Roboto;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px #0000004b;
    color: #000;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:hover,
#pac-input:active,
#pac-input:focus {
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    padding-left: 10px;
}

#pac-input::placeholder {
    text-align: center;
}

#pac-input:focus::placeholder {
    color: transparent;
    text-align: left;
}

#pac-input:hover::placeholder {
    text-align: left;
}

/*

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #bababa;
    color: #ddd;
}

.pac-container {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0.3)
    );
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 12px;
    font-weight: 300;
}

#pac-input {
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0.3)
    );
    color: #000;
    border: none;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    padding-left: 10px;
    text-overflow: ellipsis;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#pac-input::placeholder {
    line-height: 25px;
    font-size: 12px;
}

*/
